<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permission for Internet access -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Permission to access network state (check if the device is connected to a network) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Permission to access WiFi state -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- Permission to change WiFi state (optional, only if modifying WiFi settings) -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <queries>
        <!-- Allow querying Google Maps package -->
        <package android:name="com.google.android.apps.maps" />
    </queries>

    <application
        android:usesCleartextTraffic="true"

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Travista"
        tools:targetApi="31"
        android:name=".TravistaApp">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Travista">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>